<a href="https://colab.research.google.com/github/hamidul/Python/blob/master/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Pandas?**

* Pandas is a Python library used for working with data sets.

* It has functions for analyzing, cleaning, exploring, and manipulating data.

* The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

**Pandas as pd**

* Pandas is usually imported under the pd alias.

* alias: In Python alias are an alternate name for referring to the same thing.

* Create an alias with the as keyword while importing:

* Example :

```
import pandas as pd
```

**Checking Pandas Version:**

In [ ]:
import pandas as pd

print(pd.__version__)

1.5.3

**Series?**

* A Pandas Series is like a column in a table.

* It is a one-dimensional array holding data of any type.

**Example:**

Create a simple Pandas Series from a list:

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

**Labels:**

* If nothing else is specified, the values are labeled with their index number.
* First value has index 0, second value has index 1 etc.

* This label can be used to access a specified value.

**Example:**

Return the first value of the Series:

In [ ]:
print(myvar[0])

1

**Create Labels:**

With the index argument, you can name your own labels.

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
# Access element with the label
print("The second element : ",myvar["y"])

x    1
y    7
z    2
dtype: int64
The second element :  7

**Key/Value Objects as Series:**

You can also use a key/value object, like a dictionary, when creating a Series.

In [ ]:
# Note: The keys of the dictionary become the labels.
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
# Example
# Create a Series using only data from "day1" and "day2":

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

**DataFrames:**

* Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

* Series is like a column, a DataFrame is the whole table.

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

**Locate Row:**

* As you can see from the result above, the DataFrame is like a table with rows and columns.

* Pandas use the **loc** attribute to return one or more specified row(s)

In [ ]:
#refer to the row index:
print(myvar.loc[2])

calories    390
duration     45
Name: 2, dtype: int64

In [ ]:
#use a list of indexes
# Return row 0 and 1:
print(myvar.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

**Access row using the named index:**

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64